[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pytorch-lightning = "*"
pandas = "*"
mlflow = "*"
scipy = "*"
kaggle = "*"
PyQt5 = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
yapf = "*"
exceptiongroup = "*"

[requires]
python_version = "3.10"
